<link rel="stylesheet" href="/css/styles.css">
<!--Footer-->
<footer class="page-footer font-small indigo pt-0">
    <div class="about-footer">
        About: An Elements of Software Construction Project
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> Damocles Software </a>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->