<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/user">KYC Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/user/profile">User Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/faceadd">Setup Facial-ID</a>
            </li>
            <li class="nav-item">
                <% if (vdTrue) { %>
                <a class="nav-link" href="/user/facerec">Verify Documents</a>
                <% } else { %>
                <a class="nav-link disabled" href="#">Verify Documents</a>
                <% } %>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/setupAuth">Setup 2-FA</a>
            </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='/user/logout';">Logout</button> 
    </div>
</nav>
