<% include partials/head.ejs %>
<% include partials/nav_admin.ejs %>
<% include partials/footer.ejs %>
<link rel="stylesheet" href="/css/styles.css">
<div class = "user-info">
    <div class="container mt-5">
        <div class="row">
            <div class="col-auto offset-2">
                <h2 class = "header user-info">User Accounts</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class = "user block">
                    <table border="1" class = "table table-hover"> 
                        
                        <% for (var i = 0; i < users.length; i++) { %>
                            <% if (users[i]["id"] != "admin") { %>
                                <tr>
                                    <td><%= users[i]["id"] %></td>
                                    <td class = "button-link"><a href="/admin/showUser/<%= users[i]['id'] %>">View</a></td>
                                </tr>
                                <% } %>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="display_user.js"></script>

<style>
    table {
        
        border: hidden;
    }
</style>
