<!--You can change the dimensions of the camera with height and weight, (text align and margin is just for center the image)-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" href="/css/stylecamera.css">

<form method="post" id = "loginform">
<video id="camdemo" style="width: 640px; height: 480px; text-align: center; margin: 0 auto;"></video>


<div style="text-align: center">
    
    <input type="button" id="submit" value="Submit Name and Train" />

</div>
</form>

<!-- <script src="/js/face-rec-script.js"></script> -->
<script src="/js/faceadd.js"></script>
