<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head"); %>
        <%- include("partials/footer"); %>
        <script src="/js/faceadd.js"></script>
    </head>
    <body>
        <%- include("partials/nav"); %>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h4 class="header-face">Align your face with the camera and click the submit button</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <video id="camdemo" style="width: 640px; height: 480px; text-align: center; margin: 0 auto;"></video>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <form method="POST" id='form' action="/user/faceadd" style="display:none">
                        <input id="input" name="image" />
                    </form>
                    <input type="button" class="btn btn-lg" id="submit-btn face" value="Submit Facial-ID" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <span class="text-danger">
                        <%= message %>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
