<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document Verification</title>
    <script src='js/fv.js'></script>
</head>
<body>
    <div>
        Please authenticate with facial recognition to proceed.
        <video id="input"></video>
        <button id="verify">Send snapshot to verify</button>
    </div>
</body>
</html>