<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head"); %>
        <%- include("partials/footer"); %>
    </head>
    <body>
        <%- include("partials/nav"); %>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <img src="/images/damocles.png" class="damocles">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    To access more functions, you must have a sufficiently high trust level.
                    You can check this in "User profile".
                    Trust is earned as you share more information with us. 
                    We reciprocate by allowing you greater access to services. 
                    Thank you for your continued use of our services.
                </div>
            </div>
        </div>
    </body>
</html>
