
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
</head>
<body>
    <script src="/js/profile.js"></script>
    <div class="container profile-page">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 logout-panel">
                <a class="btn btn-default" href="/setup-2fa" role="button">Setup Google Authenticator</a>
                <a class="btn btn-default" href="/user/faceadd" role="button">Add Facial Recognition</a>
                <button class="btn btn-default" id="submitdocsbtn" type="button" <%= document %> >Submit documents</button>
                <a class="btn btn-default" href="/user/logout" role="button">Logout</a>
            </div>
        </div>
    </div>
        
</body>
</html>