<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
    <%- include("partials/footer"); %>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/nav"); %>
    <div class="image_padding"><img src="/images/damocles.png" class="damocles"></div>
</body>
</html>
