<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head"); %>
        <%- include("partials/footer"); %>
    </head>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="bs-callout bs-callout-primary">
                        <h4>Connect Google Authenticator to your Account</h4>
                        <p>Scan QR code and press <strong>Save</strong> button.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <form method="post">
                        <div class="form-group">
                            <%- qr %>
                        </div>
                        <a href="/"><button type="button" class="btn btn-lg">Continue</button></a>
                    </form>
                </div>
            </div>
        </div>    
    </body>
</html>
