<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
    <script src="js/submit.js"></script>
</head>
<body>
    <form method="POST" id="form">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-6">
                    <div class="row">
                        <video id="input" class="col-lg-12"></video>
                    </div>
                    <div class="row justify-content-center">
                        <button id="captureBtn" class="col-lg-3 btn btn-primary">Capture</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <canvas id="output" class="col-lg-12"></canvas>
                    </div>
                    <div class="row justify-content-center">
                        <button id="submitBtn" class="col-lg-3 btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

