<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
    <script src="/js/submit.js"></script>
</head>
<body>
    <form method="POST" style="display:none">
        <input name="image"></input>
    </form>
    <div class="container">
        <div class="row">
            <video autoplay id="webcam" class="border border-dark"></video>
        </div>
        <div class="row">
            <button id="capture" class="col-lg-3 btn btn-primary">Capture</button>
        </div>
        <div class="row">
            <button id="retake" class="col-lg-3 btn btn-primary">Retake</button>
        </div>
        <div class="row">
            <button id="submit" class="col-lg-3 btn btn-primary">Submit</button>
        </div>
    </div>
</body>
</html>
