<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document Verification</title>
    <script src='js/submit.js'></script>
</head>
<body>
    <form method="POST" id="form">
        <video id="input"></video>
        <canvas id="output"></canvas>
        <button id="captureBtn">Capture</button>
        <button id="submitBtn">Submit</button>
    </form>
</body>
</html>