<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document Verification</title>
    <script src='js/submit.js'></script>
</head>
<body>
    <div>
        <video id="input"></video>
        <canvas id="output"></canvas>
        <button id="capture">Capture</button>
        <button id="submit">Submit</button>
    </div>
</body>
</html>